<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MongoDB - Names</title>
</head>
<body>
    <strong>All Names</strong><br>
    <ul>
        <li>To <strong>change</strong> a name, make the change and click &ldquo;Update&rdquo;</li>
        <li>To <strong>remove</strong> a name, clear out both fields and click &ldquo;Update&rdquo;</li>
        <li>To <strong>add</strong> a name, enter a new name in the empty fields and click &ldquo;Add New&rdquo;</li>
    </ul>
    <% data.forEach(name=> { %> 
    <div>
        <form method="post" action="/updateName">
            <input type="hidden" name="_id" value="<% name._id %>" />
            <table>
                <tr>
                    <td><input type="text" name="fName" value="<%= name.fName %>" /></td>
                    <td><input type="text" name="lName" value="<%= name.lName %>" /></td>
                    <td><button type="submit">Update</button></td>
                </tr>
            </table>
        </form>

        <!-- Form to delete user data -->
        <form method="post" action="/deleteName">
            <input type="hidden" name="_id" value="<%= name._id %>" />
            <button type="submit">Delete</button>
        </form>

        <!-- Form to search user data by ID -->
        <form method="post" action="/searchName">
            <input type="hidden" name="_id" value="<%= name._id %>" />
            <button type="submit">Search</button>
        </form>
    </div>
    <% }) %>
    <h3>Add New User Data</h3>
    <form method="post" action="/addName">
        <table>
            <tr>
                <td><input type="text" name="fName" value="" /></td>
                <td><input type="text" name="lName" value="" /></td>
                <td><button type="submit">Add New</button></td>
            </tr>
        </table>
    </form>

    
</body>
</html>