<h1><%= title %></h1>
<form action="/upload" method="post" enctype="multipart/form-data">
  <input type="text" name="name" placeholder="Name" required>
    <input type="file" name="image" />
    <button type="submit">Upload File </button>
  </form>
  